body {
  background-color: rgb(137, 180, 218);
  color: rgb(255, 255, 255);
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

button{
  padding: 5px 20px;
  background-color: rgb(0, 63, 117);
  color: rgb(255, 255, 255);
  border-style: none;
}

input { 
  height: 24px;
}